@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.textuno{
    display: flex;
    margin: auto;
    text-align: center;
    color:white;
    font-family: 'montserrat';
    font-size: 12px;
}
.textuno h5{
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    margin: auto;
}
.content{
    display: flex;
    background-color: black;
    min-height: 54px;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
    align-items: center;
}
.separador{
    display: flex;
    background-color: white;
    min-height: 13px;
}
.iconos-container a{
    padding: 0px 10px 0 20px;
    color: white;
    font-size: 15px;
    
}
.textcondiciones{
    color: white;
    text-align: end;
    font-family: 'montserrat';
    font-style: italic;
}
.textcondiciones a h5{
    font-weight: 200;
    font-size: 8px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.content-barra-menu{
    min-height: 69px;
    display: flex;
    background-color:white;
    justify-content: space-between;
    padding: 10px 90px 10px 90px;
    font-size: 15px;
}
.content-barra-menu img{
    width: 150px; 
    height: auto;
    padding: 10px 0 0 10px;

}
.menu-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-nav-bar ul li {
    position: relative;
    float: left;
    padding: 12px;
    padding-top: 8px;
}

.menu-nav-bar a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.menu-nav-bar li a i {
    margin-left: 8px; 
}

.menu-nav-bar .ofertas {
    color: #7F0000;
}

.menu-nav-bar ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
    border-radius: 4px;
    width: 220px;
}

.menu-nav-bar ul li ul.submenu li {
    float: none;
    padding: 10px 20px;
}

.menu-nav-bar ul li ul.submenu li a {
    color: black;
    font-size: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav-bar ul li:hover ul.submenu {
    display: block;
}

.menu-nav-bar ul li ul.submenu li a i {
    margin-left: auto;
    padding-left: 10px;
}

.menu-nav-bar ul li:hover > a {
    color: #7F0000;
}

.menu-nav-bar ul li ul.submenu li:hover {
    background-color: #EEEEEE;
}

.menu-nav-bar ul li a {
    padding: 8px 12px;
}

.menu-nav-bar ul li {
    margin: 0 10px;
}

.menu-nav-bar .categoria-submenu-roja-mujer {
    color: red; 
    font-weight: bold; 
}

.menu-nav-bar ul li ul li .categoria-submenu-roja-mujer:hover {
    background-color: #FFDDDD; /
}

.menu-nav-bar ul li ul.submenu ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 4px;
    width: 220px;
}

.menu-nav-bar ul li ul.submenu li:hover ul {
    display: block; 
}

.menu-nav-bar ul li ul.submenu ul li {
    padding: 10px 20px;
}

.menu-nav-bar ul li ul.submenu ul li a i {
    margin-left: auto;
    padding-left: 10px;
}

.menu-nav-bar ul li ul.submenu ul li:hover {
    background-color: #EEEEEE; 
}

.iniciar-sesion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.textoicono {
    color: #ff0000; 
    text-decoration: none; 
} 
.iniciar-sesion a {
    position: relative;
    color: black;
    text-decoration: none;
}  
.iconousuario {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
}
.iconousuario .fa-user {
    margin-right: 10px;
}
.bolsacompras {
    display: flex;
    align-items: center;
    margin-right: 0px;
}   
.bolsacompras a {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.vista-productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.fotos-productos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 110px;
    margin-left: 100px; 

}

.slider--uno img {
    width: 539px;
    height: 424px;
    border-radius: 15px;
    object-fit: cover; 
}

.slider--dos {
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px; 
}

.slider--dos img {
    width: 119px;
    height: 100px;
    border-radius: 15px;
    margin-right: 22px; 
    object-fit: cover; 
}

.slider--dos img:last-child {
    margin-right: 0;
}
.descripcion-vista-producto{
    margin-right: 350px;
}
.titulo-descripcion h3{
    font-family: 'Mulish';
    font-size: 36px;
    font-weight: 500;
}
.titulo-descripcion p{
    font-family: 'Mulish';
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
}
.elegir-color h4{
    font-family: 'Mulish';
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
}
.colors-talla {
    justify-content: start; 
    margin-top: 10px;
    gap: 7px; 
    display: flex;
}
.colors-talla span {
    display: inline-block; 
    height: 30px; 
    width: 30px; 
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    box-shadow: none;
}
.color-talla-uno {
    background-color: #bbb;
}
.color-talla-dos {
    background-color: beige;
}
.color-talla-tres {
    background-color: black;
}
.color-talla-cuatro {
    background-color: #7F0000;
}
.colors-talla .active {
    outline: 1px solid black; 
    outline-offset: 2px; 
}
.elegir-talla h4{
    font-family: 'Mulish';
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
}
.tallas {
    display: flex;
    gap: 10px;
}

.talla-boton {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.talla-boton.active {
    outline: 2px solid white;
    background-color: #555;
}

.talla-boton:hover {
    background-color: #333;
}

.elegir-cantidad h4{
    font-family: 'Mulish';
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
}
.cantidad-producto {
    display: inline-flex;
    align-items: center;
    gap: 0;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 10px;

}

.cantidad-boton {
    width: 30px; 
    height: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad-input {
    width: 120px; 
    height: 30px;
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 30px;
    padding: 0;
}
.cantidad-producto button:focus,
.cantidad-input:focus {
    outline: none;
}
.new-collection h2{
    font-size: 40px;
    font-family: 'Mulish';
    font-weight: 500;
    text-align: center;
    margin-top: 96px;
}
.new-collection--inner-uno {
    display: flex;
    align-items: center; 
    gap: 30px; 
    width: 100%;
    justify-content: center; 
}
.new-collection--inner-uno .collection img {
    width: 266px; 
    height: 348px; 
    object-fit: cover; 
    border-radius: 20px;
    margin-top: 70px;
}
.descripcion-producto {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: black;
    font-family: 'Montserrat'; 
    margin-top: 10px; 
    font-weight: 400;
}

.descripcion-producto h5 {
    margin: 0px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.descripcion-producto p {
    margin: 0;
    padding-right: 10px;
    font-size: 15px; 
}
.colors {
    justify-content: first baseline;
    padding-left: 10px;
    margin-top: 10px;
    gap: 5px; 
    display: flex;
}
.color-uno {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.color-dos {
    height: 12px;
    width: 12px;
    background-color: white;
    border-color: #D9D9D9;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.color-tres {
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.color-cuatro {
    height: 12px;
    width: 12px;
    background-color: #7F0000;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.dots {
    text-align: center;
    padding: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 30px 0 150px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
.texto-pagina-producto h4{
    font-family: 'Mulish';
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 82px;
}
.form-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black; 
    width: 500px; 
    margin: 0 auto 120px auto; 
  }
  
  .input-field {
    flex-grow: 1; 
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: 400;
    padding: 10px;
}

.input-field::placeholder {
    color: #000;

}
.subscribe-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Mulish';
    font-weight: 400;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #333; 
}
.pie-de-pagina{
    background: black;
    min-height: 300px;
}