@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.textuno{
    display: flex;
    margin: auto;
    text-align: center;
    color:white;
    font-family: 'montserrat';
    font-size: 12px;
}
.textuno h5{
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    margin: auto;
}
.content{
    display: flex;
    background-color: black;
    min-height: 54px;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
    align-items: center;
}
.separador{
    display: flex;
    background-color: white;
    min-height: 13px;
}
.iconos-container a{
    padding: 0px 10px 0 20px;
    color: white;
    font-size: 15px;
    
}
.textcondiciones{
    color: white;
    text-align: end;
    font-family: 'montserrat';
    font-style: italic;
}
.textcondiciones a h5{
    font-weight: 200;
    font-size: 8px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.content-barra-menu{
    min-height: 69px;
    display: flex;
    background-color:white;
    justify-content: space-between;
    padding: 10px 90px 10px 90px;
    font-size: 15px;
}
.content-barra-menu img{
    width: 150px; 
    height: auto;
    padding: 10px 0 0 10px;

}
.menu-nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-nav-bar ul li {
    position: relative;
    float: left;
    padding: 12px;
    padding-top: 8px;
}

.menu-nav-bar a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.menu-nav-bar li a i {
    margin-left: 8px; 
}

.menu-nav-bar .ofertas {
    color: #7F0000;
}

.menu-nav-bar ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px 0;
    border-radius: 4px;
    width: 220px;
}

.menu-nav-bar ul li ul.submenu li {
    float: none;
    padding: 10px 20px;
}

.menu-nav-bar ul li ul.submenu li a {
    color: black;
    font-size: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-nav-bar ul li:hover ul.submenu {
    display: block;
}

.menu-nav-bar ul li ul.submenu li a i {
    margin-left: auto;
    padding-left: 10px;
}

.menu-nav-bar ul li:hover > a {
    color: #7F0000;
}

.menu-nav-bar ul li ul.submenu li:hover {
    background-color: #EEEEEE;
}

.menu-nav-bar ul li a {
    padding: 8px 12px;
}

.menu-nav-bar ul li {
    margin: 0 10px;
}

.menu-nav-bar .categoria-submenu-roja-mujer {
    color: red; 
    font-weight: bold; 
}

.menu-nav-bar ul li ul li .categoria-submenu-roja-mujer:hover {
    background-color: #FFDDDD; /
}

.menu-nav-bar ul li ul.submenu ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 4px;
    width: 220px;
}

.menu-nav-bar ul li ul.submenu li:hover ul {
    display: block; 
}

.menu-nav-bar ul li ul.submenu ul li {
    padding: 10px 20px;
}

.menu-nav-bar ul li ul.submenu ul li a i {
    margin-left: auto;
    padding-left: 10px;
}

.menu-nav-bar ul li ul.submenu ul li:hover {
    background-color: #EEEEEE; 
}

.iniciar-sesion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.textoicono {
    color: #ff0000; 
    text-decoration: none; 
} 
.iniciar-sesion a {
    position: relative;
    color: black;
    text-decoration: none;
}  
.iconousuario {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    margin-right: 30px;
}
.iconousuario .fa-user {
    margin-right: 10px;
}
.bolsacompras {
    display: flex;
    align-items: center;
    margin-right: 0px;
}   
.bolsacompras a {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1 {
    font-family: 'Mulish';
    font-size: 70px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
    margin-top: 160px;
}

.overlay p {
    font-family: 'Montserrat';
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}

.overlay button {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: black;
    background-color: white;
    width: 178px;
    height: 35px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.overlay button:hover {
    background-color: black; 
    color: white;
}
.slider--inner {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    width: 300%; 
}  
.slider--inner img {
    width: 33.33%; 
}   
.slider-inicio {
    width: 100%;
    overflow: hidden; 
    height: 100vh;
}   
.content-dos{
    display: flex;
    background-color: black;
    min-height: 64px;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
    align-items: center;
}
.content-dos h5{
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    width: 100%; 
}
.slider--inner-uno {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap;
    gap: 20px; 
    transition: transform 0.5s ease-in-out;
    width: auto; 
}

.slide {
    flex: 0 0 auto; 
    box-sizing: border-box;
    padding: 22px;
}

.slide img {
    border-radius: 19px;
    width: 280px;
    height: auto;
    display: block;
}
.dots {
    text-align: center;
    padding: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 30px 0 150px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
.content-tres {
    background-color: #D9D9D9; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 307px; 
}

.inner-box {
    width: 90%; 
    min-height: 280px; 
    background-color: transparent; 
    border: 2px solid black; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    padding-left: 150px; 
}

.overlay-image {
    position: absolute;
    left: 0; 
    bottom: 0; 
    width: 700px; 
    height: auto; 
    z-index: 1; 
    margin-left: 206px; 
}

.text-box {
    text-align: center;
    z-index: 2; 
}
.inner-box h2{
    font-family: 'Mulish';
    font-size: 45px;
    text-align: center;
    margin-left: 250px; 
}
.new-collection h2{
    font-size: 40px;
    font-family: 'Mulish';
    font-weight: 500;
    text-align: center;
    margin-top: 96px;
}
.new-collection--inner-uno {
    display: flex;
    align-items: center; 
    gap: 30px; 
    width: 100%;
    justify-content: center; 
}
.new-collection--inner-uno .collection img {
    width: 266px; 
    height: 348px; 
    object-fit: cover; 
    border-radius: 20px;
    margin-top: 70px;
}
.descripcion-producto {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: black;
    font-family: 'Montserrat'; 
    margin-top: 10px; 
    font-weight: 400;
}

.descripcion-producto h5 {
    margin: 0px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

.descripcion-producto p {
    margin: 0;
    padding-right: 10px;
    font-size: 15px; 
}
.colors {
    justify-content: first baseline;
    padding-left: 10px;
    margin-top: 10px;
    gap: 5px; 
    display: flex;
}
.color-uno {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.color-dos {
    height: 12px;
    width: 12px;
    background-color: white;
    border-color: #D9D9D9;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.color-tres {
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.color-cuatro {
    height: 12px;
    width: 12px;
    background-color: #7F0000;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}
.section-mayoreo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.section-text-mayoreo {
    flex: 1; 
    padding-right: 30px; 
}

.section-mayoreo h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 66px;
    font-weight: 500;
    padding-bottom: 27px;
}

.section-mayoreo p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.section-mayoreo img {
    flex: 1; 
    max-width: 510px;
    height: 576px;
    object-fit: cover;
    border-radius: 20px;
}

.btn-mayoreo {
    width: 200px; 
    height: 40px;
    border-radius: 10px;
    background-color: black;
    margin-top: 30px;
    margin-right: auto; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    text-align: center;
}
.section-pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 166px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.section-text-pedido {
    flex: 1;
    padding-right: 30px;
    max-width: 600px;
    text-align: right; 
}

.section-pedido h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 66px;
    font-weight: 500;
    line-height: 1.2; 
    padding-left: 100px;
    text-align: right;
    padding-bottom: 27px;
}

.section-pedido p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 100px;
    text-align: right;
}

.section-pedido img {
    flex: 1; 
    max-width: 510px;
    height: 576px;
    object-fit: cover;
    border-radius: 20px;
}

.btn-pedido {
    width: 200px; 
    height: 40px;
    border-radius: 10px;
    background-color: black;
    margin-top: 30px;
    margin-left: auto; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    text-align: center;
}
.iconos-finales {
    display: flex;
    justify-content: space-between;
    padding: 120px 230px 10px 230px;
    align-items: center;
    margin-bottom: 180px;
}

.iconos-finales div {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.iconos-finales img {
    width: 90px;
    height: 90px;
}

.iconos-finales p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px; 
}
.pie-de-pagina{
    background: black;
    min-height: 300px;

}